@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --darkBlue: #397785;
  --midBlue: #54ACBF;
  --lightBlue: #91E9F2;
  --purple: #D9B0D2;
  --lightGray: #f2f2f2;
  --darkGray: #2a2c33;
}

.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.625em;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--lightGray);
  transition: 0.3s;
  transition-property: background-color;
  margin: 0;
}

.title {
  font-size: 2.25em;
  margin: 0;
}

.header {
  display: flex;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-bottom: 0.4em;
  justify-content: space-between;
  align-items: flex-start;
  height: 3em;
  transition: color 0.3s ease-in-out;
}

.cell {
  aspect-ratio: 1 / 1;
  margin: -2px;
  display: flex;
  font-size: 1em;
  overflow: hidden;
}

.solutionBackground {
  z-index: -3;
  position: absolute;
}

.buttonTray {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

button {
  border: none;
  font-family: 'Josefin sans', sans-serif;
  font-size: medium;
  height: 2.5em;
  padding-top: 0;
  padding-bottom: 0;
  width: 8.5em;
  border-radius: 10px;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.secondary {
  font-family: 'Courier New', Courier, monospace;
  border: 10px solid blue;
}

.pathBackground {
  z-index: -2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  max-height: calc(100vh - 1.35em - 7em);
  margin: auto;
  aspect-ratio: 1/1;
  position: relative;
}

.toggleContainer {
  display: block;
  width: 60px;
  height: 30px;
  background-color: var(--darkBlue);
  border-radius: 30px;
  cursor: pointer;
  margin-left: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle {
  display: block;
  width: 30px;
  height: 30px;
  background-color: var(--lightGray);
  border-radius: 30px;
  transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
  position: relative;
  left: 0;
  border: 3px solid var(--darkBlue);
  box-sizing: border-box;
}

#checkbox:checked + .toggle {
  left: 30px;
  background-color: var(--darkGray);
  border: 3px solid var(--lightBlue);
}

#checkbox {
  display: none;
}

.mode-select {
  display: flex;
  align-items: center;
  width: 80px;
}

.mode-option {
  font-size: large;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: currentColor;
  border: 3px solid currentColor;
  border-right: 0;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mode-right {
  font-size: large;
  border-left: 0;
  border-right: 3px solid currentColor;
  border-radius: 0 10px 10px 0;
}

.active {
  background-color: currentColor;
  font-weight: bold;
}

.mode-option input[type="radio"] {
  display: none;
}

.active > .playerLabel {
  transition: color 0.3s;
}