@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
  text-align: center;
  padding: 0.625em;
  font-family: 'Josefin Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.cell {
  aspect-ratio: 1 / 1;
  margin: -0.06em;
  display: flex;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  max-height: calc(100vh - 1.35em);
  height: 10%;
  margin: auto;
}